<h2>Home</h2>

<p><br>- funzionalità per selezionare la campagna in corso</p>
<p><br>- funzionalità per alimentare la tabella users</p>
<p><br>- funzionalità per alimentare la tabella application</p>
<p><br>- funzionalità per alimentare la tabella questions</p>
<p><br>- funzionalità per alimentare la tabella questionaire </p>
<p><br>- funzionalità statistiche relative alla compilazione</p>
