<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='/stylesheets/style-admin.css'>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <link rel="stylesheet" href="/stylesheets/bootstrap-icons.css">

    <script src="/javascripts/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/sweetalert2.min.css">

    <script src="/javascripts/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ag-grid.css"/>
    <link rel="stylesheet" href="/stylesheets/ag-theme-alpine.css"/>

    <script src="/socket.io/socket.io.js"></script>
  </head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/admin" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">ITRQ</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li class="nav-item">
                        <a href="/admin" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-cloud-upload"></i> <span class="ms-1 d-none d-sm-inline">Aggiorna</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/admin/upload" class="nav-link px-0"> <span class="d-none d-sm-inline">Upload</span></a>
                            </li>
                            <li>
                                <a href="#Item2" class="nav-link px-0"> <span class="d-none d-sm-inline">Item2</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/dashboard" data-target="dashboard" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Configura</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/admin/tabella/campagnes" data-target="campagne" class="nav-link px-0"> <span class="d-none d-sm-inline">Anno campagna</span></a>
                            </li>
                            <li>
                                <a href="/admin/tabella/users" class="nav-link px-0"> <span class="d-none d-sm-inline">Users</span></a>
                            </li>
                            <li>
                                <a href="/admin/tabella/questions_type" class="nav-link px-0"> <span class="d-none d-sm-inline">Questions Type</span></a>
                            </li>  
                            <li>
                                <a href="/admin/tabella/applications" class="nav-link px-0"> <span class="d-none d-sm-inline">Applications</span></a>
                            </li>
                            <li>
                                <a href="/admin/tabella/questions" class="nav-link px-0"> <span class="d-none d-sm-inline">Questions</span></a>
                            </li>
                            <li>
                                <a href="/admin/tabella/questionnaire" class="nav-link px-0"> <span class="d-none d-sm-inline">Questionnaire</span></a>
                            </li>
                            <li>
                                <a href="/admin/tabella/user_responses" class="nav-link px-0"> <span class="d-none d-sm-inline">User Responses</span></a>
                            </li>                     
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/utentiresponsabili" data-target="utentiresponsabili" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Utenti Resp.</span> </a>
                    </li>
                </ul>
                <hr>
                
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/mtt.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Administrator</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/users/id">View ID token claims</a></li>
                        <li><a class="dropdown-item" href="/auth/acquireToken">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li
                        <li><a class="dropdown-item" href="/auth/signout">Sign out</a></li>
                    </ul>
                </div>
            
            </div>
        </div>
        <div class="col py-3">
            {{{body}}}
        </div>
    </div>
</div>

</body>
</html>

   <script>
    var socket = io();
    socket.on('connect', () => {
        console.log('Connected to Socket.io');
    });
    socket.emit('myEvent', { name: '{{#each dt}}{{#if @first}}{{this.username}}{{/if}}{{/each}}', 
                             user_id: '{{#each dt}}{{#if @first}}{{this.user_id}}{{/if}}{{/each}}'
    });
    socket.on('myResponse', (response) => {
      console.log(response);
    });
    socket.on('disconnect', () => {
      console.log('Disconnected from Socket.io');
    });
  </script>